<div *ngIf="userdata">
	<div class="form-signin" style="text-align:center;margin: auto;width: 30%;padding: 10px;">
		<h3>Account</h3>
		
		<pre class="form-control" placeholder="Username" >UserName - {{userdata.username}}</pre><br>
		<pre class="form-control" placeholder="Username">Email - {{userdata.email}}</pre><br><br>

		<pre class="form-control" placeholder="Username">Password - {{userdata.password}}</pre><br>
		
		<pre class="form-control" placeholder="Username">Phone - {{userdata.phone}}</pre><br>
		
	</div>


</div>